body{
    margin: 0px;
}
.cor{
    font-size: 20px;
    background-color: #0D0D11; 
}
.home-div{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.home-div-a{
    color: #ffffffba;
    margin-top: 250px;
    margin-left: 100px;
}

.nav-link{
    margin: 25px;
}
.home-font{
    position: relative;
    width: 740px;
    color: #03FA6E;
}
.home-div-b{
    margin-top: 105px;
}
.btn-home{
    background-color: #00C855; 
    color: white;
    border: 0ch;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
}
#text-home{
    width: 500px;
}

#nav-img{
    height: 50px;
}

.nav-item-responsive {
    display: none;
}

.navbar {
    display: flex !important;
}

.nav-buttons{
    margin-right: 15px;
}

      /* Cards */

.cards {
    background-color: #252427;
    color: white; 
    width: 384px;
    border-radius: 25px 25px;
    margin-bottom: 25px;
}

.cards label {
    font-size: 15px;
    width: 300px;
    text-align: justify;
    margin-bottom: 20px;
    color: #9C9C9C;
    position: relative;
}

.cards h4 {
    margin-top: 20px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

#text-card-1 {
    text-decoration-color: #AA45DA;
}

#text-card-2 {
    text-decoration-color: #F6AF3A;
}

#text-card-3 {
    text-decoration-color: #FF0000;
}

#text-card-4 {
    text-decoration-color: #EEB1CA;
}

.cards-row {
    margin: 75px !important;
}

.cards-img {
    width: 384px;
    height: 281px;
    border-radius: 25px 25px 0px 0px;

}
      /* Footer */

.footer {
    background-color: #08080A
}

.footer img{
    margin-right: 10px;
}

.footer label{
    color: #BDB9B9;
}


@media screen and (max-width: 800px) {
    .nav-item {
        display: none;
    }
    .nav-item-responsive {
        display: block
    }

    #nav-img{
        width: 250px;
        height: unset;
    }
}

      /* Nossas tecnologias*/
.tecnologias{
    color: white;
    padding: 100px;
}
.icons{
    margin-top: 17px;
    margin-left: 15px;
    width: 75px;
    height: 75px;
}
.icon-a{
    margin-top: 15px;
    margin-left: 11px;
    width: 75px;
    height: 75px;
}
.icon-b{
    margin-top: 22px;
    margin-left: 14px;
    width: 80px;
    height: 60px;
}  
.icons-fundo{
    margin-top: 10px;
    width: 105px;
    height: 105px;
    background-image: url(img/fundo.png);
    border-radius: 50%;
}    

/* Contate-nos */

.contato-texto label{
    color: #9C9C9C;  
}

.contato-texto h4{
    color: white;  
}

.contato-botao a{
    width: 300px;
    border-radius: 50px;
}

.conteudo {
    margin-bottom: 48px;
    background-color: #252427;
    width: 1280px;
    border-radius: 25px;
    padding: 50px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
